html,
body {
  margin: 0;
  padding: 0;
}
:root {
  --color-white: #fff;
  --color-slate-300: #d6e2f0;
  --color-slate-500: #68778d;
  --color-slate-900: #1f3251;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-slate-300);
  font-family: 'Outfit', sans-serif;
}
.wrapper {
  padding: 16px 16px 40px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: var(--color-white);
}
.main-img {
  width: 288px;
  aspect-ratio: 1;
  border-radius: 10px;
}
.texts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.texts-wrapper p {
  margin: 0;
  text-align: center;
}
.text-title {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  line-height: 120%;
  color: var(--color-slate-900);
}
.text-info {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--color-slate-500);
}
